<%= render 'layouts/navigation'%>
	<div id="slider" data-section="home">
		<div class="owl-carousel owl-carousel-fullwidth">
			<!-- You may change the background color here. -->
		    <div class="item" style="background: #352f44;">
		    	<div class="container" style="position: relative;">
		    		<div class="row">
					    <div class="col-md-7 col-sm-7">
			    			<div class="fh5co-owl-text-wrap">
						    	<div class="fh5co-owl-text">
						    		<h1 class="fh5co-lead to-animate">Manage your Network</h1>
									<h2 class="fh5co-sub-lead to-animate">Keep track of the details of everyone in your organization</h3>
									<p class="to-animate-2"><a href="#" class="btn btn-primary btn-lg">Get Started</a></p>
						    	</div>
						    </div>
					    </div>
					    <div class="col-md-4 col-md-push-1 col-sm-4 col-sm-push-1 iphone-image">
					    	<div class="iphone to-animate-2"> <%= image_tag("iphone-2.png") %> </div>
					    </div>

		    		</div>
		    	</div>
		    </div>
			<!-- You may change the background color here.  -->
		    <div class="item" style="background: #38569f;">
		    	<div class="container" style="position: relative;">
		    		<div class="row">
		    			<div class="col-md-7 col-md-push-1 col-md-push-5 col-sm-7 col-sm-push-1 col-sm-push-5">
			    			<div class="fh5co-owl-text-wrap">
						    	<div class="fh5co-owl-text">
						    		<h1 class="fh5co-lead to-animate">Social Interaction</h1>
									<h2 class="fh5co-sub-lead to-animate">Engage with all your members and keep track of their whereabouts</h3>
									<p class="to-animate-2"><a href="#" class="btn btn-primary btn-lg">Try now</a></p>
						    	</div>
						    </div>
					    </div>
					    <div class="col-md-4 col-md-pull-7 col-sm-4 col-sm-pull-7 iphone-image">
					    	<div class="iphone to-animate-2"><%= image_tag("iphone-1.png") %></div>
					    </div>

		    		</div>
		    	</div>
		    </div>

		    <div class="item" style="background-image: url(<%= asset_path 'slide_5.jpg' %>)">
		    	<div class="overlay"></div>
		    	<div class="container" style="position: relative;">
		    		<div class="row">
		    			<div class="col-md-8 col-md-offset-2 text-center">
		    				<div class="fh5co-owl-text-wrap">
						    	<div class="fh5co-owl-text">
		    						<h1 class="fh5co-lead to-animate">Raise funds</h1>
									<h2 class="fh5co-sub-lead to-animate">Raise money from your members all over the world with our simple funding platform</h3>
									<p class="to-animate-2"><a href="" target="_blank" class="btn btn-primary btn-lg">Sign me up</a></p>
								</div>
							</div>
		    			</div>
		    		</div>
		    	</div>
		    </div>

		</div>
	</div>

	<div id="fh5co-about-us" data-section="about">
		<div class="container">
			<div class="row row-bottom-padded-lg" id="about-us">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">About Us</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 to-animate">
							<h3>NectHub is a fully fledged management system which offers our cherished customers a <b>great</b> way to organize and keep track of their membership data, raise funds for projects and engage with their members.</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="fh5co-our-services" data-section="services">
		<div class="container">
			<div class="row row-bottom-padded-sm">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">Our Services</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 to-animate">
							<h3>We offer to our valued clients the best of these services</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="box to-animate">
						<div class="icon colored-1"><span><i class="icon-folder-alt"></i></span></div>
						<h3>Management</h3>
						<p>Manage your membership database with our easy-to-use content management system</p>
					</div>
					<div class="box to-animate">
						<div class="icon colored-4"><span><i class="icon-people"></i></span></div>
						<h3>Engage</h3>
						<p>Create groups and socialize with your members</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="box to-animate">
						<div class="icon colored-2"><span><i class="icon-credit-card"></i></span></div>
						<h3>Fundraising</h3>
						<p>Raise donations from your members all over the globe</p>
					</div>
					<div class="box to-animate">
						<div class="icon colored-5"><span><i class="icon-calendar"></i></span></div>
						<h3>Events</h3>
						<p>Create your events and push it out to the target audience</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="box to-animate">
						<div class="icon colored-3"><span><i class="icon-envelope"></i></span></div>
						<h3>Messaging</h3>
						<p>Send emails and SMS to your contact list everywhere</p>
					</div>
					<div class="box to-animate">
						<div class="icon colored-6"><span><i class="icon-user-following"></i></span></div>
						<h3>Mentoring</h3>
						<p>Find and pair members who can help each other which whatever they need</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-features" data-section="features">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="single-animate animate-features-1">Features</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 single-animate animate-features-2">
							<h3>Take a tour of our features</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-bottom-padded-sm">
				<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
					<div class="fh5co-icon"><i class="icon-speedometer"></i></div>
					<div class="fh5co-desc">
						<h3>Comprehensive Dashboard</h3>
						<p>We provide you with an understandable dashboard which helps you keep track of reports and so much more</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
					<div class="fh5co-icon"><i class="icon-folder-alt"></i></div>
					<div class="fh5co-desc">
						<h3>Management System</h3>
						<p>A fully functional management system to help you manage your membership data and even recover lost ones</p>
					</div>
				</div>
				<div class="clearfix visible-sm-block visible-xs-block"></div>
				<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
					<div class="fh5co-icon"><i class="icon-envelope-open"></i></div>
					<div class="fh5co-desc">
						<h3>Messaging Feature</h3>
						<p>Our SMS and email integrations helps you to send quick messages to your contact list anytime and anywhere</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
					<div class="fh5co-icon"><i class="icon-wallet"></i></div>
					<div class="fh5co-desc">
						<h3>Payment Integration</h3>
						<p>Our simple payment solution which allows you to raise funds and donations from your members all over the globe in minutes</p>
					</div>
				</div>
				<div class="clearfix visible-sm-block visible-xs-block"></div>
				<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
					<div class="fh5co-icon"><i class="icon-people"></i></div>
					<div class="fh5co-desc">
						<h3>Social Engagement</h3>
						<p>Our social engagement platform allows you to interact with your members and allow them to interact with each other</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
					<div class="fh5co-icon"><i class="icon-user-follow"></i></div>
					<div class="fh5co-desc">
						<h3>Mentoring Feature</h3>
						<p>Our mentoring feature helps you to find and pair your members so they can provide needed help to each other</p>
					</div>
				</div>
				<div class="clearfix visible-sm-block visible-xs-block"></div>
			</div>
			<div class="row">
				<div class="col-md-4 col-md-offset-4 single-animate animate-features-3">
					<a href="#" class="btn btn-primary btn-block">Get Started</a>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-testimonials" data-section="testimonials">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">Save yourself from clutter</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>We have integrated all the ways of storing your membership data into one simple beautiful application</h3>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="to-animate" align="center">
						 <%= image_tag("clutter.png") %>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-pricing" data-section="pricing">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="single-animate animate-pricing-1">Pricing</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext single-animate animate-pricing-2">
							<h3>Our pricing model works great for organizations of all sizes</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="price-box to-animate">
						<h2 class="pricing-plan">Starter</h2>
						<div class="price"><sup class="currency">$</sup>7<small>/mo</small></div>
						<p>Basic customer support for small business</p>
						<hr>
						<ul class="pricing-info">
							<li>10 projects</li>
							<li>20 Pages</li>
							<li>20 Emails</li>
							<li>100 Images</li>
						</ul>
						<a href="#" class="btn btn-default btn-sm">Get started</a>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="price-box to-animate">
						<h2 class="pricing-plan">Regular</h2>
						<div class="price"><sup class="currency">$</sup>19<small>/mo</small></div>
						<p>Basic customer support for small business</p>
						<hr>
						<ul class="pricing-info">
							<li>15 projects</li>
							<li>40 Pages</li>
							<li>40 Emails</li>
							<li>200 Images</li>
						</ul>
						<a href="#" class="btn btn-default btn-sm">Get started</a>
					</div>
				</div>
				<div class="clearfix visible-sm-block"></div>
				<div class="col-md-3 col-sm-6 to-animate">
					<div class="price-box popular">
						<div class="popular-text">Professional</div>
						<h2 class="pricing-plan">Plus</h2>
						<div class="price"><sup class="currency">$</sup>79<small>/mo</small></div>
						<p>Basic customer support for small business</p>
						<hr>
						<ul class="pricing-info">
							<li>Unlimitted projects</li>
							<li>100 Pages</li>
							<li>100 Emails</li>
							<li>700 Images</li>
						</ul>
						<a href="#" class="btn btn-primary btn-sm">Get started</a>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 to-animate">
					<div class="price-box popular">
						<div class="popular-text">Professional</div>
						<h2 class="pricing-plan">Enterprise</h2>
						<div class="price"><sup class="currency">$</sup>125<small>/mo</small></div>
						<p>Basic customer support for small business</p>
						<hr>
						<ul class="pricing-info">
							<li>Unlimitted projects</li>
							<li>Unlimitted Pages</li>
							<li>Unlimitted Emails</li>
							<li>Unlimitted Images</li>
						</ul>
						<a href="#" class="btn btn-primary btn-sm">Get started</a>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="row">

	</div>

	<footer id="footer" role="contentinfo" style="background-color: #352f44;">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<h3>About Us</h3>
					<p>NectHub is blah blah blah..........................</p>
				</div>
				<div class="col-lg-8">

				</div>
			</div>
			<div class="row row-bottom-padded-sm">
				<div class="col-md-12">
					<p class="copyright text-center" style="color: white;">&copy; 2017 NectHub. All Rights Reserved. </p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<ul class="social social-circle">
						<li><a href="#"><i class="icon-twitter"></i></a></li>
						<li><a href="#"><i class="icon-facebook"></i></a></li>
						<li><a href="#"><i class="icon-youtube"></i></a></li>
						<li><a href="#"><i class="icon-pinterest"></i></a></li>
						<li><a href="#"><i class="icon-linkedin"></i></a></li>
						<li><a href="#"><i class="icon-instagram"></i></a></li>
						<li><a href="#"><i class="icon-dribbble"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>



<!-- jQuery Easing -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.js"></script>

	<!-- Waypoints -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
	<!-- Owl Carousel -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>

	<script src="https://cdn.rawgit.com/worlanyodamalie/css_js_files/5e24d01f/main.js"></script>
