<!--
    select first name with email
    pass to recepient field on next page
    pass hash to recepient variable
    send message
   -->

<div class="container">

    <div>
        <h4>Please select your list of contacts</h4>
    </div>
    <hr />
    <br />
   <!-- <%= check_box_tag 'organisations_ids[]' , @organisations.try(:id) %> -->
      <div class="row">
        <div class="col-md-8">
        <% form_tag(:action => 'new')  %>
             <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th><input class="selectAll"   type="checkbox">  <th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>E-Mail</th>

                            </tr>
                        </thead>
                        <tbody>
                           <%  @organisations.each  do |org|%>
                            <tr>
                            <td> <input id="checkBox" class="selectAll"  value="<%=[ org.Email  ] %>" type="checkbox"> <td>
                            <td > <%= org.try(:FirstName) %> </td>
                            <td><%=  org.try(:LastName)%></td>
                            <td><%=  org.try(:Email)%></td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>


        </div>
      </div>

                <br />
                <br />
                <div align="center">
                <%#<button  id="btnId"  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                 Next
                <button>%>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="email_id" , data="">
                 NEXT
                </button>

                </div>


</div>

 <script>


// var url = "/organisations/send_message";

//  function setCookies(cname,cvalue,exdays) {
//       var d = new Date();
//       d.setTime(d.getTime() + (exdays*24*60*60*1000));
//       var expires = "expires=" + d.toGMTString();
//       document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
//   }


//   function getCookie(cname) {
//       var name = cname + "=";
//       var decodedCookie = decodeURIComponent(document.cookie);
//       var ca = decodedCookie.split(';');
//     for(var i = 0; i < ca.length; i++) {
//         var c = ca[i];
//         while (c.charAt(0) == ' ') {
//             c = c.substring(1);
//         }
//         if (c.indexOf(name) == 0) {
//             return c.substring(name.length, c.length);
//         }
//     }
//     return "";
// }



// $(document).ready(function () {

//         $('input[type=checkbox]').click(function(){
//             var contacts = '';
//             var  nvalue;

//             var output = $('input[type=checkbox]:checked').map(function(   ){

//                 nvalue =  this.value.replace(/[\]\['"]+/g, '');

//                 //contacts = contacts + nvalue + ',';

//                 //scontacts = contacts.slice(0,-1);

//                 //return scontacts;
//                   return nvalue;      }).get();

//                 console.log("nvalue": nvalue);

//                 console.log(output);

//                 //console.log(nvalue);

//               $('#email_id').attr("data" , output);

//               setCookies("email_token", output   , 6000);

//               console.log( "setCookies" : setCookies  );
//         });

//         $('#email_id').click(function(){
//              console.log($(this).attr("data"));

//             $(location).attr('href',url);

//             $('#recipient_id').val($(this).attr("data"));
//         });


//         var retrieveContacts  = $.parseJSON(getCookie("email_token"))

//         console.log(getCookie);

//         console.log(retrieveContacts);

//         console.log("Something must be here");

//         $("#to").attr("value", retrieveContacts);



//    });
 </script>