
<br />
            <div align="center">
                <h4>Please fill out your event details</h4>
            </div>
            <hr />
	    	
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col"></div>
                <div class="mdl-cell mdl-cell--4-col" align="center">
                    <%= form_for(@event) do |f| %>
                        <div class="mdl-textfield mdl-js-textfield">
                            <%= f.label :event_name ,"Event Name" , :class => "mdl-textfield__label" %>
                            <%= f.text_field :event_name , :class => "mdl-textfield__input" %>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield">
                            <%= f.label :event_date, "Event Date" , :class => "mdl-textfield__label" %>
                            <%= f.datetime_field :event_date , :class => "mdl-textfield__input" %>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield">
                            <%= f.label :event_type , "Event type" , :class => "mdl-textfield__label" %>
                            <%= f.text_field :event_type , :class => "mdl-textfield__input" %>
                        </div><!--
                        <div class="mdl-textfield mdl-js-textfield getmdl-select getmdl-select__fullwidth">
                            <input class="mdl-textfield__input" type="text" id="sample4" placeholder="Select group" readonly tabIndex="-1">
                            <ul for="sample4" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">-->
                                <li class="mdl-menu__item">2017</li><!-- Groups being managed --><!--
                                <li class="mdl-menu__item">2016</li>
                                <li class="mdl-menu__item">2015</li>
                            </ul>
                        </div>-->
                        <br /><br />
                        <div>
                            <%= f.submit "Create Event" , :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
                        </div>
                    <% end %>
                </div>
                <div class="mdl-cell mdl-cell--4-col"></div>
            </div>

<br />

<!--[event,current_organisation.build] -->
